<div class="top-main">
  <h1>検索</h1><br>
<div class="form">
    <div class="form-body">
    <table border="0">
    <tr>
        <td align="right"><b> 姓：</b></td>
        <td><input type="text" name="family_name" size="50" maxlength="20"></td>
    </tr>
    <tr>
        <td align="right"><b> 名：</b></td>
        <td><input type="text" name="first_name" size="30" maxlength="20"></td>
    </tr>
        <td align="right"><b> 誕生日：</b></td>
        <td>
            <input type="date"　name="birth">
        </td>
    </tr>
    <tr>
        <td align="right"><b> tel：</b></td>
        <td><input type="text" name="tel" size="30" maxlength="20"></td>
    </tr>
    <tr>
        <td align="right"><b> mail：</b></td>
        <td><input type="text" name="email" size="30" maxlength="20"></td>
    </tr>
    <tr>
    <td></td>
        <td>
        <input type="submit" value="検索">
        </td>
    </tr>
    </div>
</div>