<div class="top-main">
  <h2>TOP</h2><br><br>
    <div class="top-message">
      <a href="users/search">ユーザー検索</a><br>
      <a href="users/signup">ユーザー登録</a><br>
      <a href="reservations/status">予約状況確認</a><br>
      <a href="courses/regist">講座検索</a>
    </div>
</div>
