<!DOCTYPE html>
<html>
  <head>
    <title>SCHOOL APP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <a href="/">SCHOOL APP</a>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
